<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloClu | 마이페이지</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <h4><%= userID %> 님, 어서오세요! </h4>
    <a href="/logout">로그아웃</a>
    
</body>
</html>