<div class="nav">
    <a class="logo" href="/forum">AppleForum</a>
    <% if (user != null) { %>
        <a href="/mypage">마이페이지</a>
        <a href="/logout">로그아웃</a>
    <% } else { %>
        <a href="/login">로그인</a>
    <% } %>
    <a class="posting" href="/posting">글쓰기</a>
</div>