<div class="nav">
    <a class="logo" href="/api/forum">AppleForum</a>
    <% if (user != null) { %>
        <a href="/api/mypage">마이페이지</a>
        <a href="/api/logout">로그아웃</a>
    <% } else { %>
        <a href="/api/login">로그인</a>
    <% } %>
    <a class="posting" href="/api/posting">글쓰기</a>
</div>