<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloClu | 글쓰기</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <form class="form-box" action="/api/newpost" method="POST">
        <h4>글쓰기</h4>
        <input name="title" type="text">
        <input name="content" type="text">
        <button type="submit">등록</button>
    </form>

</body>
</html>